<html>
    <heading>
        <title>title</title>
    </heading>
    <body>
        <h1>Not So Cool Form!</h1>
        <form method="POST" action="/new">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="text" name="text" placeholder="Write anything">
            <button type="submit">Submitto</button>
        </form>
    </body>
</html>