<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <ul>
        <% messages.forEach(message => {  %> 
            <li> 
                User: <%= message.user %>, text: <%= message.text %>, Date: <%= message.added %> 
            </li>
        <%  }); %>  
        </ul>
    </body>
</html>